# Database
MONGODB_URI=

# Authentication
AUTH_SECRET=

# AI
OPENAI_API_KEY=
GOOGLE_GEMINI_API_KEY=

# Voice
VAPI_API_KEY=
ELEVENLABS_API_KEY=

# Storage
UPLOADTHING_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
